SistemIzleme/TNP-DevHD/Application/Application.Main/Service References/ServiceReferenceBiztalk/BiztalkExplorerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29342/Services/BiztalkExplorerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" />
  <xs:import schemaLocation="http://localhost:29342/Services/BiztalkExplorerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:29342/Services/BiztalkExplorerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExplorer.CustomObjects" />
  <xs:element name="GetIntegrationDeploymentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegrationDeploymentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetIntegrationDeploymentDetailsResult" nillable="true" type="q1:IntegrationDetailsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostInstances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetHostInstancesResult" nillable="true" type="q2:ArrayOfHostInstancesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHostInstanceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostInstanceUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusChangeCommandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHostInstanceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeHostInstanceStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveLocationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetReceiveLocationResult" nillable="true" type="q3:ReceiveLocationsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetReceiveLocationsResult" nillable="true" type="q4:ArrayOfReceiveLocationsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeReceiveLocationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveLocationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enable" type="xs:boolean" />
        <xs:element minOccurs="0" name="changeName" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeReceiveLocationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeReceiveLocationStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendPort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendPortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendPortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetSendPortResult" nillable="true" type="q5:SendPortsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendPorts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendPortsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetSendPortsResult" nillable="true" type="q6:ArrayOfSendPortsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSendPortStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendPortName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusChangeCommandId" type="xs:int" />
        <xs:element minOccurs="0" name="changeName" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSendPortStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSendPortStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInstances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetServiceInstancesResult" nillable="true" type="q7:ArrayOfServiceInstancesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceInstanceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceInstanceInstanceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusChangeCommandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceInstanceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeServiceInstanceStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInstancesFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceInstanceInstanceIds" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInstancesFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetServiceInstancesFilesResult" nillable="true" type="q9:ArrayOfServiceInstancesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrchestration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orchestrationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrchestrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetOrchestrationResult" nillable="true" type="q10:OrchestrationsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrchestrations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrchestrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetOrchestrationsResult" nillable="true" type="q11:ArrayOfOrchestrationsTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrchestrationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orchestrationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusChangeCommandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrchestrationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeOrchestrationStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivePorts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivePortsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExplorer.CustomObjects" minOccurs="0" name="GetReceivePortsResult" nillable="true" type="q12:ArrayOfReceivePortTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWindowsServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceNames" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWindowsServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="StartWindowsServicesResult" nillable="true" type="q14:ArrayOfWindowsServicesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWindowsServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceNames" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWindowsServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="StopWindowsServicesResult" nillable="true" type="q16:ArrayOfWindowsServicesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWindowsServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceNames" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartWindowsServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="RestartWindowsServicesResult" nillable="true" type="q18:ArrayOfWindowsServicesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetWindowsServiceResult" nillable="true" type="q19:WindowsServicesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowsServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowsServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Bimar.Integration.LocalMachineExploper.CustomObjects" minOccurs="0" name="GetWindowsServicesResult" nillable="true" type="q20:ArrayOfWindowsServicesTransferMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>